nav{text-align:center;}
nav span{cursor:pointer;}
nav .css{margin-right:20px;color:#a6d73a}
fieldset{margin:10px;}
textarea{box-sizing:border-box;width:100%;border:1px solid #000;display:block;padding:10px;background:#fff;text-align:justify;word-break:break-all;}
button{margin-top:10px;}
.jszip{display:none;}
